page-game {
    .card-title {
        position: absolute;
        padding: 20% 20% 20% 25%;
        // position: absolute;
        top: 36%;
        font-size: 20px;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    
}
