<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1>{{user}}</h1>
  <label for="">{{points}}</label>
  <ion-grid>
    <ion-row>

      <ion-card class="card-background-page" [ngClass]="classGrid" (click)="flipImg(i)" *ngFor="let image of imagesA; let i = index;">
        <img [src]="image.backUrl" *ngIf="!image.visible">
        <img [src]="image.frontUrl" *ngIf="image.visible">
      </ion-card>
     

      <ion-card class="card-background-page" [ngClass]="classGrid" (click)="flipImgTwo(i)" *ngFor="let image of imagesATwo; let i = index;">
        <img [src]="image.backUrl" *ngIf="!image.visible">
        <img [src]="image.frontUrl" *ngIf="image.visible">
      </ion-card>
     
      
    </ion-row>
  </ion-grid>  
</ion-content>
